.hide {
  display: none !important;
}
.else {
  background: url("../assets/bg.png") no-repeat center;
  background-size: 100% 100%;
  position: relative;
  min-width: 1920px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top {
  position: absolute;
  top: 0;
  width: 1563px;
  z-index: 9;
  height: auto;
}
.light {
  position: absolute;
  left: 0;
  top: 0;
  width: 311px;
  height: auto;
  z-index: 99;
}
.lightA {
  position: absolute;
  right: 0;
  top: 0;
  width: 339px;
  height: auto;
  z-index: 99;
}
.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}
.contentBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.title {
  height: 66px;
  width: auto;
  margin-bottom: 80px;
  z-index: 9;
}
.fadeInUp {
  z-index: 3;
}
.gameBar {
  height: 500px;
  width: 1200px;
  position: relative;
}
.stage {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translateY(50%);
}
.stageImg {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}
.stageLight {
  width: 100vw;
  height: 100vh;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  opacity: 0;
}
.stageLight1 {
  animation: stageBgAni1 4s ease 0s infinite;
}
.stageLight2 {
  animation: stageBgAni1 4s ease 0s infinite;
}

@keyframes stageBgAni1 {
  0% {
    opacity: 0;
    /* transform: scale(0.9) rotate(15deg); */
  }

  50% {
    opacity: 0.7;
    /* transform: scale(1) rotate(-17deg); */
  }

  100% {
    opacity: 0;
    /* transform: scale(0.9) rotate(15deg); */
  }
}
.egg {
  display: block;
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  width: 3rem;
  left: 0;
  transform: rotate(0deg);
  transform-origin: 50% 100%;

  right: 0;
  bottom: 0;
}
.nameBox {
  position: absolute;
  top: 29%;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.heartBeatNum {
  animation-iteration-count: 3;
}
.eggRotate {
  animation: eggRotateAni 3s ease-in-out 0.01s infinite;
}
@keyframes eggRotateAni {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-10deg);
  }
  15% {
    transform: rotate(10deg);
  }
  25% {
    transform: rotate(-7deg);
  }
  35% {
    transform: rotate(7deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  55% {
    transform: rotate(10deg);
  }
  65% {
    transform: rotate(-8deg);
  }
  75% {
    transform: rotate(9deg);
  }
  85% {
    transform: rotate(-10deg);
  }
  95% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.hammer {
  position: absolute;
  top: -22%;
  left: 52%;
  transform: rotate(-16deg);
  transform-origin: 100% 100%;
  width: 3.5rem;
  opacity: 0;
}
.hammerEggAni {
  animation: hammerEggFrame 1s ease;
}
@keyframes hammerEggFrame {
  0% {
    opacity: 0.5;
    transform: scale(1) rotate(-15deg);
  }
  5% {
    opacity: 1;
  }
  25% {
    transform: scale(0.9) rotate(15deg);
  }
  50% {
    transform: scale(1) rotate(-17deg);
  }
  75% {
    transform: scale(0.9) rotate(20deg);
    opacity: 1;
  }
  90% {
    transform: scale(1) rotate(-18deg);
    /* opacity: 0; */
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-18deg);
  }
}
